<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STUDENT REGISTRAION FORM</title>
	<style>
		#main{
			align-content: center;
			border: 2px solid;
			margin-left: 150px;
			margin-right: 150px;
			background: linear-gradient(45deg, skyblue,cyan);
		}
		#main form table{
			margin-right: 170px;
			margin-left: 170px;
			padding: 50px;
			width:100%;
		}
		table{
			padding: 10px 5px 10px 5px;
		}
		label{
			font-family: cursive;
			font-size: 25px;
		}
		#main>form{
			padding: 10px;
		}
		button
		{
			border-radius: 20px;
			border-style: solid double;
			border-color: drakred;
			background: darkblue;
			text-decoration-color: whitesmoke;
			font-size: 20px;
			box-shadow: lightcoral;

		}
		button:hover{
			cursor: pointer ;
			color: orange;
		}
	</style>

</head>
<body>
    <h1 align="center">student registration form</h1>
	<div id="main">
		<form>
			<table>
				<tr>
					<td>
						<label>First name</label>
					</td>
					<td>
						<input type="text" name="First"><i>(max 30 character are allowed)</i>
					</td>
				</tr>
				<tr>
					<td>
						<label>Last name</label>
					</td>
					<td>
						<input type="text" name="First"><i>(max 30 character are allowed)</i>
					</td>
				</tr>
				<tr>
					<td>
						<label>Email</label>
					</td>
					<td>
						<input type="text" name="email">
					</td>
				</tr>
				<tr>
					<td>
						<label>Gender</label>
					</td>
					<td>
						<input type="radio" name="r1"><i>male</i>
						<input type="radio" name="r1"><i>female</i>
					</td>
				</tr>
				<tr>
					<td>
						<label>D.o.B</label>
					</td>
					<td>
						<select>
							<option>days</option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
							<option>6</option>
							<option>7</option>
							<option>8</option>
							<option>9</option>
							<option>10</option>
							<option>11</option>
							<option>12</option>
							<option>13</option>
							<option>14</option>
							<option>15</option>
							<option>16</option>
							<option>17</option>
							<option>18</option>
							<option>19</option>
							<option>20</option>
							<option>21</option>
							<option>23</option>
							<option>24</option>
							<option>25</option>
							<option>26</option>
							<option>27</option>
							<option>28</option>
							<option>29</option>
							<option>30</option>
							<option>31</option>
						</select>
						<select>
							<option> months</option>
							<option>jan</option>
							<option>feb</option>
							<option>march</option>
							<option>apir</option>
							<option>may</option>
							<option>june</option>
							<option>july</option>
							<option>agu</option>
							<option>sep</option>
							<option>oct</option>
							<option>nov</option>
							<option>dec</option>
						</select>
						<select>
							<option>year</option>
							<option>2000</option>
							<option>2001</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>
						<label>Adderes</label>
					</td>
					<td>
						<textarea rows="8" cols="44"></textarea>
					</td>
				</tr>
				<tr>
					<td>
						<label>city</label>
					</td>
					<td>
						<input type="text" name="city"><i>(max 20 character are allowed)</i>
					</td>
				</tr>
				<tr>
					<td>
						<label>pin code</label>
					</td>
					<td>
						<input type="text" name="pin code"><i>(max 20 character are allowed)</i>
					</td>
				</tr>
				<tr>
					<td>
						<label>state</label>
					</td>
					<td>
						<input type="text" name="state"><i>(max 30 character are allowed)</i>
					</td>
				</tr>
				<tr>
					<td>
						<label>hobbies</label>
					</td>
					<td>
						<input type="checkbox" name="hobbies"><i>listening music</i>
						<input type="checkbox" name="hobbies"><i>cricket</i>
						<input type="checkbox" name="hobbies"><i>drawing</i>
						<input type="checkbox" name="hobbies"><i>singing</i>
					</td>
				</tr>
				<tr>
					<td>
						<label>Qualification</label>
					</td>
					<td>
						<input type="RADIO" name="R1"><i>B.E/B.TECH</i>
						<input type="RADIO" name="R1"><i>MBA</i>
						<input type="RADIO" name="R1"><i>MCA</i>
						<input type="RADIO" name="R1"><i>MASTER</i>
					</td>
				</tr>
				<tr>
					<td>
						
					</td>
					<td>
						<button>submit</button>
						<button>reset</button>
					<td>
				</tr>
			</table>
		</form>
		
	</div>

    
</body>
</html>