<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>from</title>
    <style>
		table
		{
			background: linear-gradient(45deg, cyan,yellow);
		}
	</style>
</head>
<body>
	<center><table border="3px",width="40%">
		<tr>
			<td>
				<p>this is a paragraph</p>
				<p>this is another paragraph</p>
			</td>
			<td>this cell contains a table
				<table border="3px" width="100%">
					<tr>
					    <td>A</td>
					    <td>B</td>
				    </tr>
					<tr>
						<td>C</td>
						<td>D</td>
					</tr>
					
				</table>

			</td>

		</tr>
		<tr>
			<td>
				<p>This cell contains a list</p>
				<ul>
					<li>Apple</li>
					<li>Banana</li>
					<li>paine Apple</li>
				</ul>
			</td>
			<td>
				<table>
					<tr>
						<td>
							<p>this a paragraph</p>
							<p>this is another paragraph</p>
						</td>
						<td>
							<p> this cell contains a table</p>
							<table>
								<tr>
									<td>A</td>
									<td>B</td>
								</tr>
								<tr>
									<td>C</td>
									<td>D</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<p>This cell contains List</p>
							<ul>
								<li>Apple</li>
								<li>Banana</li>
								<li>Paina Apple</li>

							</ul>
						</td>
						</tr>
				</table>
			</td>
		</tr>
	</table>
		
	</center>

    
</body>
</html>